<html>
<header>
{% load static %}

<link rel="stylesheet" href="{% static 'css/typing_styles.css' %}">
</header>
<body class="gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
{% if answer == "correct"%}
    <h2 class="text-center mt-0 bg-success">Correct!</h2>
    <button id="begin">Continue</button>
    <br>
{% endif %}
{% if answer == ""%}
    <button class="btn btn-light btn-xl" id="begin">Click to Receive Message</button>
    <br>
    <hr class="divider" />
{% endif %}
<br>
<h4 class="consolePrototype big-bottom">
    <span class="console">{{ character_name }}: </span><span id="caption" class="font-weight-bold">{% if answer != "correct" and answer != ""%}{{ message }}{% endif %}</span><span class="cursor">|</span>
</h4>
{% if answer == "correct"%}
    {% if nextclue != ""%}
        <input type="button" class="btn btn-primary btn-xl hidden" id="nextbutton" onclick="location.href='{{ nextclue }}';" value="Next" />
    {% endif %}
    {% if nextclue == ""%}
        <h3 id="final" class="gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">You did it!</h3>
    {% endif %}
{% endif %}
{% for audioname, audiourl in audio.items %}
    <div class="big-bottom">
        <hr class="divider" />
        <br>
        <audio controls  unmuted id="Audio" src="{{ audiourl }}" preload="auto"></audio>
    </div>
{% endfor %}
{% for videoname, videourl in video.items %}
<hr class="divider" />
<br>
    <div class="big-bottom">
    <p>Press to view full screen</p>
    <video class='cluemedia' controls="controls" preload='none' poster="">
        <source id='mp4' src="{{ videourl }}" type='video/mp4' />
        <p>Your user agent does not support the HTML5 Video element.</p>
    </video>
    </div>
{% endfor %}
{% for imagename, imageurl in image.items %}
    <div class="big-bottom">
        <hr class="divider" />
        <br>
        <p>Press to view full screen</p>
        <image class='cluemedia clueimagemedia' src="{{ imageurl }}">
    </div>
{% endfor %}
<p id="user-caption" class="hidden">{{ message }}</p>
<br>
<br>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% comment %} <script src={% static 'js/typing.js' %} language="JavaScript"></script> {% endcomment %}
</body>
</html>
