<header>
{% load static %}
<link rel="stylesheet" href="{% static 'css/typing_styles.css' %}">
</header>
<body>
<br>
<p class="consolePrototype">
    <br>
    <p class="hidden messagecontents">{{ message }}</p>
    <span class="console">{{ character_name }}: </span><span class="mesagedisplay"></span><span class="cursor">|</span>
</p>
{% if audio != ""%}
    <br>
    <audio controls  unmuted id="Audio" src="{{ audio }}" preload="auto"></audio>
{% endif %}
{% if video != ""%}
<br>
<p>Press to view full screen</p>
<video class='cluemedia' controls="controls" preload='none' poster="">
    <source id='mp4' src={{ video }} type='video/mp4' />
    <p>Your user agent does not support the HTML5 Video element.</p>
</video>
{% endif %}
{% if image != ""%}
    <br>
    <p>Press to view full screen</p>
    <image class='cluemedia clueimagemedia' src="{{ image }}">
{% endif %}
<br>
<br>
</body>

