<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/keypad.css' %}">
<head>
<main>
  <div class="screen">
    <span class="text"></span>
    <div class="cursor"></div>
  </div>
  <div class="keypad">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>0</button>
    <button>GO</button>
    <button>DEL</button>
  </div>
</main>